[submodule "apix"]
	path = apix
	url = git@github.com:M-JavadHeydarpour/apix.git
[submodule "language-detector"]
	path = language-detector
	url = git@github.com:M-JavadHeydarpour/language-detector.git
[submodule "image-builder"]
	path = image-builder
	url = git@github.com:M-JavadHeydarpour/image-builder.git
[submodule "kubeman"]
	path = kubeman
	url = git@github.com:M-JavadHeydarpour/kubeman.git
